*{margin:0;padding:0;box-sizing: border-box;}
.head{
  /* background: red; */
  width:100%;
  height:10vh;
  /* background: linear-gradient(90deg,#6600cc,#99ccff); */
  display: flex;
  flex-direction: column;
}
.navigation{
  width:100%;
  display: flex;
  height: 10vh;
  margin-top: 1vh;
   background: linear-gradient(90deg,#6600cc,#99ccff);
  /* background: purple; */
}
nav{
  /* background-color: red; */
    /* background: linear-gradient(90deg,#6600cc,#99ccff); */
  width:40%;
  /* height:10vh; */
  display:flex;
  font-family: 'Open Sans Condensed', sans-serif;
}
.logo{
    /* background: green; */
    display:flex;
    width:60%;
    height:10vh;
    /* line-height: 14vh; */
    padding-left:35%;
}
.logo img{
  width:25%;
 height:10vh;
 /* background: yellow; */
/* margin-top:2vh; */
  /* margin-bottom: 2vh; */
  /* padding-bottom: 8vh; */
}
.logo h1{
  /* background: yellow; */
  font-size: 2vw;
  padding-top: 2.5vh;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Dancing Script', cursive;
  /* border-bottom: 2px blueviolet; */
}
.hover{
  /* background: yellow; */
  width:100%;
}
.menu{
  /* background:#ff0066; */
  width:100%;
  height:10vh;
    display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
}
.btn{
  display: none;
}
/* @media only screen and (max-width:850px){


.btn{
  display: block;
  width:12%;
  height:6vh;
}
.btn:hover.menu{
  flex-direction: column;
  height:100vh;
  width:20%;
  justify-content: flex-start;
  margin-top: 2vh;
  background: black;
}
} */
.menu a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3vw;
  /* background: green; */
}
.menu a:hover{
  font-weight: bold;
  font-size:1.5vw;
  text-decoration: underline;
  /* background: black; */
}
.dropbtn{
  text-transform: uppercase;
  font-size: 1.3vw;
  background: none;
  border: none;
  color:white;
  font-family: 'Open Sans Condensed', sans-serif;
  /* background: black; */
}
.dropdown-content{
  /* background: yellow; */
  display: none;
  position:absolute;
  /* margin-top: 2vh; */
  box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.4);
  background: linear-gradient(45deg,#6600cc,#99ccff);
}
.dropdown-content a{
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
}
.dropdown-content a:hover{
  /* background: linear-gradient(45deg,#99ccff,#6600cc); */
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  background: #6600cc;
}
.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
}



section{
background-color: rgba(138, 43, 226, 0.05);
/*                    background: linear-gradient(90deg,#6600cc,#99ccff);*/
              display: flex;
              flex-direction: column;
              width: 100%;
          }

          .topic-box{
              flex-direction: column;
              display: flex;
              height:85vh;
              width: 25%;
              overflow:hidden;
              position: sticky;
              top: 2vh;
              margin: 2%;
              padding:  1%;
              background-color: white;
              background: linear-gradient(90deg,#6600cc,#99ccff);
          }

          .topic{
            /* background: red; */
              color: white;
              height: 5vh;
              padding: 2%;
              /* padding-bottom: 1vh; */
              margin: 2%;
              /* margin-bottom: 2vh; */
              border-bottom: 5px solid blueviolet;
              text-decoration: none;
              font-size:  1.5vw;
              display: flex;
          }

          .topic:hover{
              color: white;
              background-color: black;
          }

          .content{

              display: flex;
              flex-direction: row;
          }

          .Introduction{
              width: 60%;
              display: flex;
              flex-direction: column;
              background-color: rgba(169, 169, 169, 0.13);
              background-color: white;
              background: linear-gradient(90deg,#6600cc,#99ccff);
              box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.09);
              margin: 20px;
              padding: 30px;
          }

          .Introduction h2{
              color: white;
              text-decoration: underline;
              text-decoration-color: blueviolet;
              padding: 10px;
              margin: 0px;
              font-size: 30px;
              text-align: center;
          }

          .Introduction h3{
              color: white;
              padding: 5px;
              margin: 10px 0px 10px 0px;
          }


          .Introduction p1,ul{
              font-size: 20px;
              background-color: white;
              border-left: 8px solid #99ccff;
              padding: 15px;
              margin: 0px;
          }
          .Introduction ul li{
              font-size: 20px;
              list-style: disc;
              margin: 2px;
          }
          .Introduction ul{
              padding: 20px 20px 20px 30px;
              margin: 0px;
          }
          .Introduction p2{
              color: white;
              margin: 0px 0px 10px 0px;
              font-size: 20px;
          }
          .previous{
              padding: 10px;
              font-size: 25px;
              width: 90px;
              text-align: center;
              background-color: #99ccff;
              background: linear-gradient(90deg,#6600cc,#99ccff);
              margin: 10px 10px 10px 0px;
          }
          .next
          {
              text-align: center;
              padding: 10px;
              font-size: 25px;
              width: 90px;
              background-color: blueviolet;
              background: linear-gradient(90deg,#6600cc,#99ccff);
              margin: 10px 0px 10px 250px;

          }
          .quiz{
              text-align: center;
              padding: 10px;
              font-size: 25px;
              width: 90px;
              background-color: blueviolet;
              background: linear-gradient(90deg,#99ccff,#6600cc);
              margin: 10px 10px 10px 250px;
          }

          .quiz a,.next a,.previous a{
              text-decoration: none;
              color: white;
          }

          .btn{
              margin-top: 5px;
              display: flex;
              padding: 0px;
          }
          .assignment{
              margin-top: 20px;
              padding: 10px;
              border-left: 8px solid #99ccff;
              background-color: white;
              color: black;
              font-size: 20px;
          }
          .assignment h1{
              margin: 0px;
              padding: 0px;
              font-size: 25px;
              margin-bottom: 10px;
              text-align: center;
              text-decoration: underline;
          }
          .assignment input{
              padding: 10px;
          }
          .assignment button{
              margin: 5px;
              padding: 5px;
          }

          .youtube{
            /* height: 5vh; */
              background-color: white;
              text-align: center;
              font-size: 25px;
              padding: 5px;
              margin-top: 20px;
              font-weight: bold;
              border-left: 8px solid skyblue;
          }
          .youtube i{
              font-size: 30px;
              color: blueviolet;
          }
